<%- include('include/header'); %>
  <table class="table table-bordered table-sm table-dark table-striped">
        <thead>

        <tr>
            <th>#</th>
              <th>name</th>
            <th>trainer</th>
            <th>course </th>
            <th>duration </th>
            <th>start_date  </th>
            <th>end_date  </th>
            <th>grade  </th>
        </tr>
        </thead>
        <tbody>


<%for(var i=0; i<result.length; i++){ %>

 <tr <% if( i%2==0) {%> class="success" <% } else if( i%2==1) %> class="info" >
             <td><%= i %></td>
             <td><%= result[i]['student_name']  %></td>
             <td><%= result[i]['trainer_name']  %></td>
             <td><%= result[i]['name_en']  %></td>
             <td><%= result[i]['duration']  %></td>
             <td><%= result[i]['start_date']  %></td>
             <td><%= result[i]['end_date']  %></td>
             <td><%= result[i]['student_grade']  %></td>
         </tr>
 <% } %>

        </tbody>
    </table>
</div>
</div>


